:root {
  --an-head-background: rgb(135, 135, 135);
  --an-head-border-color: rgba(255, 255, 255, 0.1);
  --an-head-title-background: rgb(45, 45, 45);
  --an-head-title-color: rgb(95, 235, 235);
  --an-head-title-font-size: 10px;
  --an-infobox-background-color: rgba(95, 95, 95, 0.2); /* TODO: customize if this is used */
  --an-glass-background-color: rgba(15, 15, 15, 0.9);
  --an-box-standard-shadow: 0px 3px 15px rgba(0, 0, 0, 0.5);
  --an-glass-background-color: rgba(0, 0, 0, 0.5);
}

.an-head {
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.4);
}

.anole {
  background-image: url("../img/bg.jpg");
  color: rgb(35, 35, 35);
}

.an-body {
  background-color: white;
  margin: 45px;
  padding: 35px;
  margin-left: 5%;
  margin-right: 5%;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}

.an-heading {
  position: relative;
  color: rgb(235, 235, 235);
  background-color: rgb(95, 95, 95);
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.3);
  margin-bottom: 35px;
  padding-bottom: 10px;
}

.an-heading::after, .an-heading::before {
  position: absolute;
  content: ' ';
  border-radius: 100%;
}

.an-heading::after {
  top: 27.35%;
  left: 93.745%;
  width: 10px;
  height: 10px;
  background-color: rgb(195, 135, 235);
}

.an-heading::before {
  top: 47.735%;
  left: 95%;
  width: 7px;
  height: 7px;
  background-color: rgb(135, 235, 215);
}

.an-body span.demo {
  color: rgb(35, 135, 235);
  font-weight: bolder;
}
